* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

html {
    height: 100%;
}
#sound-bg {
    background: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: auto;
    width: 70%;
    height: auto;
    font-family: 'Rye', serif;
    font-size: 2rem;
    background-image: url(assets/wwbackground.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left;
}

/* #region Headline */

.headline {
    background-image: url(assets/woodsign.webp);
    background-size: 26rem 6rem;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    margin-top: 1rem;
    padding: 1rem;
}

.headline__text {
    text-align: center;
    font-size: 3rem;
    margin: 1.5rem;
    letter-spacing: .5rem;
}

/* #endregion Headline */

/* #region  Mainposter */

.mainwrapper {
    background-image: url(assets/wantedposter.png);
    background-size: 147%;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    height: 100%;
}

.hangedman {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin-top: 2rem;
}

.faded {
    display: none;
}

.guess-container {
    padding: .5rem;
}

.guess-container__incorrect {
    letter-spacing: .5rem;
    height: 2.2rem;
    color: saddlebrown;
}

/* #endregion Mainposter*/

/* #region Input-container*/

.input-container {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    padding-bottom: 1.7rem;
    margin-top: -2rem;
    gap: 1rem;
    background-image: url(assets/steelsign.png);
    background-repeat: no-repeat;
    background-size: 34rem 7.5rem;
    overflow: visible;
    background-position: center;
}

.input-container__text {
    height: 2rem;
    width: 100%;
    border-radius: 1rem;
    padding: .5rem;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0);
}

.input-container__btn {
    border-radius: 1rem;
    width: 6rem;
    height: 2rem;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Rye', serif;
    border: none;
}

.input-container__btn:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.455);
}

.input-container__btn:active {
    color: white;
    background-color: rgba(0, 0, 0, 0.455);
}

/* #endregion Input-container */

/* #region Bottom-container */

.bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    width: 100%;
    align-items: center;
    background-image: url(assets/woodboard.png);
    background-size: 35rem 8rem;
    background-position: center;
    background-repeat: no-repeat;
}

.bottom-wrapper--second {
    display: flex;
    width: auto;
    justify-content: center;
}

.score-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2rem;
    color: black;
}

.timer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2rem;
    color: black;
}

/* #endregion Bottom-container*/

/* #region Fixed sidefigure */

.sidefig {
    width: 10rem;
    height: 10rem;
    position: fixed;
}

.sidefig--right {
    bottom: 30rem;
    right: 5rem;
}

.sidefig--left {
    bottom: 15rem;
    left: -10rem;
    rotate: 15deg;
}

/* #endregion Fixed sidefigure */

/* #region responsive mediaquery */

@media (max-width: 40rem) {
    .sidefig {
        display: none;
    }
    body {
        width: 100%;
    }
    .mainwrapper {
        width: 100%;
        background-size: auto;
    }
}

/* #endregion responsive mediaquery*/
