* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 70%;
    background-color: antiquewhite;
}

.hangedman {
    border: solid black;
    width: 100%;
    height: 40rem;
}

.faded {
    display: none;
}

.guess-container__incorrect {
    letter-spacing: .5rem;
}

.input-container__text, .guess-container__incorrect, .guess-container {
    text-transform: uppercase;
}